body { 
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0px 60px;
  width: 100%;
  margin: 0px auto;
}

::placeholder {
  font-family: 'Montserrat', sans-serif;
}

:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}

.newsletter-form input[type=text]::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0px 20px;
  }
}

/* HEADER */
#stickyHeader {
  overflow: hidden;
  z-index: 9999;
}

.header {
  background-color: #ffffff;
}

.header__inner {  
  height: 114px;
  display: flex;
  justify-content: space-between;
}

.column {
  width: 33.3%;
  margin-bottom: auto;
  margin-top: auto;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.search-container {
  margin-bottom: auto;
  margin-top: auto;
  display: table-header-group;
  border: 1px solid #ccc;
  align-items: center;
  height: 45px;
  width: 200px;
}

.search-container input[type=text] {
  padding: 6px;
  font-size: 14px;
  line-height: 32px;
  border: none;
  height: 32px;
}

.search-container button {
  padding: 6px 10px;
  color: #7f7f7f;
  background-color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  font-size: 26px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .search-container {
    display: none;
  }

  .left {
    width: 0%;
  }
}

.logo-header {
  height: 68px;
  margin-bottom: auto;
  margin-top: auto;
}

.user-cart {
  display: flex;
  align-items: center;
}

.user-cart img {
  height: 27px;
  width: auto;
  margin: 5px;
}
/* END HEADER */

/* NAVBAR */
.navbar {
  background-color: #8158C5;
  overflow: hidden;
}

.navbar .navbar-link {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar .navbar-link:hover {
  background-color: #FFA200;
  color: #8158C5;
}

.navbar .icon {
  color: #FFA200;
  height: 23px;
  width: 25px;
  text-align: center;
  font-size: 23px;
  line-height: 23px;
}

.navbar i:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

.navbar-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.dropdown {
  float: left;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .navbar a.navbar-link {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

.content {
  padding: 16px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/* END NAVBAR */

/* SLIDESHOW */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  height: 500px
}

.mySlides img {
  height: 100%;
  object-fit: cover;
}

.slideshow-arrows {
  position: relative;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -318px;
  padding: 16px;
  color: #7F7F7F;
  font-weight: light;
  font-size: 82px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.next:hover {
  transform: translate(2px);
  color: #FFA200;
}

.prev:hover {
  transform: translate(-2px);
  color: #FFA200;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* END SLIDESHOW */

/* CATEGORIES */
.categories {
  background-color: #FFA200;
}

.categories__inner {
  display: flex;
  justify-content: space-between;
}

.category {
  flex: 33.33%;
  padding: 18px 0;
}

.category img:hover {
  transform:scale(1.01);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.category-left {
  padding-right: 9px;
}

.category-middle {
  padding-right: 9px;
  padding-left: 9px;
}

.category-right {
  padding-left: 9px;
}

@media screen and (max-width: 600px) {
  .categories {
    display: block;
  }
  .category {
    width: 100%;
    padding: 9px 0;
  }
}
/* END CATEGORIES */

/* SHOWCASE */
.showcase-title {
  font-size: 24px;
  color: #7F7F7F;
  text-align: center;
  padding: 20px 0;
}

.showcase-products {
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.product-title {
  font-size: 14px;
  font-weight: light;
}

.price {
  color: grey;
  font-size: 14px;
  font-weight: bold;
}

.card:hover {
  opacity: 0.7;
}

.highlights {
  padding: 20px 0;
}
/* END SHOWCASE */

/* PETS SECTION */
.pets-section__inner {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 50px;
}

.pets-section__inner img:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* END PETS SECTION */

/* NEWSLETTER SECTION */
.newsletter-section {
  background-color: #8158C5;
  color: #FFFFFF;
}

.regua {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid #FFA200;
}

.regua-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.regua-column img {
  padding: 0 10px;
}

.text-regua {
  text-align: center;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
}

.form {
  text-align: center;
}

.newsletter-form {
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.newsletter-form input[type=text], input[type=submit] {
  padding: 12px;
  background-color: inherit;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
}

.newsletter-form input[type=submit] {
  background-color: #FFA200;
  color: white;
  font-weight: bold;
  border: none;
}

.newsletter-form input[type=submit]:hover {
  opacity: 0.8;
}

.newsletter-form input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  opacity: 1; /* Firefox */
}

.newsletter-form input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.newsletter-form input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.newsletter-title {
  padding: 40px;
}

.newsletter-title h1 {
  font-size: 24px;
}

.newsletter-title p {
  font-size: 14px;
  color: #ffffff;
}
/* END NEWSLETTER SECTION */

/* FOOTER */
.info-section__inner {
  height: 280px;
  display: flex;
  justify-content: space-between;
}

.logo-column {
  text-align: center;
}

.logo-column img {
  margin-left: auto;
  margin-right: auto;
}

.social-media-row {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

.social-media-row .fa {
  padding: 7px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.social-media-row .fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #FFA200;
  color: white;
}

.fa-instagram {
  background: #7F7F7F;
  color: white;
}

.fa-twitter {
  background: #7F7F7F;
  color: white;
}

.info-row p {
  font-size: 10px;
  color: #7F7F7F;
  text-align: center;
}

.info-title {
  font-size: 12px;
  font-weight: bold;
  color: #8158C5;
}

.info-column {
  width: 25%;
  padding: 50px 0;
}

.about-column {
  margin-left: 100px;
}

.about-column a, .contact-column a, p {
  text-decoration: none;
  font-size: 12px;
  color: #7F7F7F;
}

/* BOTTOM SECTION */
hr {
  color: #e7e7e7;
  background-color: #e7e7e7;
  height: 2px;
  border-width: 0;
}

.bottom-section {
  display: flex;
  text-align: center;
  align-items: center;
  width: 280px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.bottom-section p {
  font-size: 10px;
  font-weight: light;
  color: #909090;
}
/* END FOOTER */